*.cod
*.lst
*.o
*.diff
.DS_Store
*.o65
*.ips
*.bin
*.map
*.o.d
*.log
*.smc
*.sfc
*~
*.old
*.elf
*.img
autoconf.h
utils/rle
utils/derle
*.bit
*.i
*.s
*.txt
*.csv
*.pdf
*.bld
*.cmd_log
*.drc
*.lso
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.twx.html
*.unroutes
*.ut
*.xpi
*.xreport
*.xst
*.xrpt
*.ngm
*.xml
*.html
*.zip
*.stratfile
*.xds
*.bgn
*.rle
*.xwbt
*.mrp
*.psr
*.gise
*.exe
*.wdb
*.tcl
*.asy
*.ncf
*.sym
*.vhd
*.veo
*.vho
*.wcfg
*.ini
*.cgp
*.swn
*.swo
*.xcf
*.piklab
*.cof
*.bak
*.bmp
*.png
*.ods
*.xls
*.chi
*.pal
*.ps
*.psd
*.gtl
*.gbl
*.gbs
*.gts
*.gbr
*.gbo
*.gto
*.gbp
*.gtp
*-cache.lib
*.drl
*.000
*.gvp
*.drl
*.cmd
src/utils/genhdr.o
src/utils/genhdr
src/utils/lpcchksum.o
src/utils/lpcchksum
src/bootldr/obj
others/*
verilog/*/ipcore_dir/*/*
verilog/*/_xmsgs/
verilog/*/iseconfig/
verilog/*/xst/
verilog/*/xlnx_auto_0_xdb/
.project
.cproject
src/obj/sd2snes.hex
snes/.settings/org.eclipse.cdt.core.prefs
snes/.settings/org.eclipse.linuxtools.tools.launch.core.prefs
cic/supercic/supercic-key.hex
cic/supercic/supercic-lock.hex
contrib/*
docs/*