# INST "AVR_NEXTADDR_BUFGP" LOC = BUFGMUX7;
# INST "CLK_BUFGP" LOC = BUFGMUX0;
NET "AVR_BANK[0]" LOC = P56;
NET "AVR_BANK[1]" LOC = P57;
NET "AVR_ENA" LOC = P40;
NET "AVR_READ" LOC = P41;
NET "MAPPER[0]" LOC = P68;
NET "MAPPER[1]" LOC = P69;
NET "MAPPER[2]" LOC = P70;
NET "ROM_SEL[0]" LOC = P124;
NET "ROM_SEL[1]" LOC = P125;
NET "ROM_SEL[2]" LOC = P122;
NET "ROM_SEL[3]" LOC = P123;
NET "SNES_ADDR[0]" LOC = P1;
NET "SNES_ADDR[10]" LOC = P13;
NET "SNES_ADDR[11]" LOC = P14;
NET "SNES_ADDR[12]" LOC = P15;
NET "SNES_ADDR[13]" LOC = P17;
NET "SNES_ADDR[14]" LOC = P18;
NET "SNES_ADDR[15]" LOC = P20;
NET "SNES_ADDR[16]" LOC = P21;
NET "SNES_ADDR[17]" LOC = P23;
NET "SNES_ADDR[18]" LOC = P24;
NET "SNES_ADDR[19]" LOC = P25;
NET "SNES_ADDR[1]" LOC = P2;
NET "SNES_ADDR[20]" LOC = P26;
NET "SNES_ADDR[21]" LOC = P27;
NET "SNES_ADDR[22]" LOC = P28;
NET "SNES_ADDR[23]" LOC = P30;
NET "SNES_ADDR[2]" LOC = P4;
NET "SNES_ADDR[3]" LOC = P5;
NET "SNES_ADDR[4]" LOC = P6;
NET "SNES_ADDR[5]" LOC = P7;
NET "SNES_ADDR[6]" LOC = P8;
NET "SNES_ADDR[7]" LOC = P10;
NET "SNES_ADDR[8]" LOC = P11;
NET "SNES_ADDR[9]" LOC = P12;
NET "SRAM_ADDR[0]" LOC = P92;
NET "SRAM_ADDR[10]" LOC = P104;
NET "SRAM_ADDR[11]" LOC = P105;
NET "SRAM_ADDR[12]" LOC = P107;
NET "SRAM_ADDR[13]" LOC = P108;
NET "SRAM_ADDR[14]" LOC = P73;
NET "SRAM_ADDR[15]" LOC = P74;
NET "SRAM_ADDR[16]" LOC = P76;
NET "SRAM_ADDR[17]" LOC = P77;
NET "SRAM_ADDR[18]" LOC = P78;
NET "SRAM_ADDR[19]" LOC = P79;
NET "SRAM_ADDR[1]" LOC = P93;
NET "SRAM_ADDR[20]" LOC = P80;
NET "SRAM_ADDR[2]" LOC = P95;
NET "SRAM_ADDR[3]" LOC = P96;
NET "SRAM_ADDR[4]" LOC = P97;
NET "SRAM_ADDR[5]" LOC = P98;
NET "SRAM_ADDR[6]" LOC = P99;
NET "SRAM_ADDR[7]" LOC = P100;
NET "SRAM_ADDR[8]" LOC = P102;
NET "SRAM_ADDR[9]" LOC = P103;
NET "SRAM_DATA[0]" LOC = P82;
NET "SRAM_DATA[1]" LOC = P83;
NET "SRAM_DATA[2]" LOC = P84;
NET "SRAM_DATA[3]" LOC = P85;
NET "SRAM_DATA[4]" LOC = P86;
NET "SRAM_DATA[5]" LOC = P87;
NET "SRAM_DATA[6]" LOC = P89;
NET "SRAM_DATA[7]" LOC = P90;
NET "SRAM_OE" LOC = P118;
NET "SRAM_WE" LOC = P119;
NET "AVR_ADDR_RESET" LOC = P44;
NET "CLKIN" LOC = P55;
NET "AVR_NEXTADDR" LOC = P128;
NET "SNES_READ" LOC = P31;
NET "SNES_WRITE" LOC = P32;
NET "AVR_WRITE" LOC = P58;
NET "SNES_CS" LOC = P52;
NET "AVR_ADDR_EN" LOC = P53;
NET "CLK" TNM_NET = CLK;
NET "AVR_DATA[0]" LOC = P46;
NET "AVR_DATA[1]" LOC = P47;
NET "AVR_DATA[2]" LOC = P50;
NET "AVR_DATA[3]" LOC = P51;
NET "AVR_DATA[4]" LOC = P59;
NET "AVR_DATA[5]" LOC = P60;
NET "AVR_DATA[6]" LOC = P63;
NET "AVR_DATA[7]" LOC = P65;
NET "SNES_DATA[0]" LOC = P129;
NET "SNES_DATA[1]" LOC = P130;
NET "SNES_DATA[2]" LOC = P131;
NET "SNES_DATA[3]" LOC = P132;
NET "SNES_DATA[4]" LOC = P135;
NET "SNES_DATA[5]" LOC = P137;
NET "SNES_DATA[6]" LOC = P140;
NET "SNES_DATA[7]" LOC = P141;
NET "SNES_DATABUS_DIR" LOC = P35;
NET "SNES_DATABUS_OE" LOC = P33;
NET "MODE" LOC = P112;
NET "CLKIN" TNM_NET = CLKIN;
TIMESPEC TS_CLKIN = PERIOD "CLKIN" 30 MHz HIGH 50 %;
NET "AVR_ADDR_EN" IOSTANDARD = LVCMOS33;
NET "AVR_ADDR_RESET" IOSTANDARD = LVCMOS33;
NET "AVR_BANK[0]" IOSTANDARD = LVCMOS33;
NET "AVR_BANK[1]" IOSTANDARD = LVCMOS33;
NET "AVR_DATA[0]" IOSTANDARD = LVCMOS33;
NET "AVR_DATA[1]" IOSTANDARD = LVCMOS33;
NET "AVR_DATA[2]" IOSTANDARD = LVCMOS33;
NET "AVR_DATA[3]" IOSTANDARD = LVCMOS33;
NET "AVR_DATA[4]" IOSTANDARD = LVCMOS33;
NET "AVR_DATA[5]" IOSTANDARD = LVCMOS33;
NET "AVR_DATA[6]" IOSTANDARD = LVCMOS33;
NET "AVR_DATA[7]" IOSTANDARD = LVCMOS33;
NET "AVR_ENA" IOSTANDARD = LVCMOS33;
NET "AVR_NEXTADDR" IOSTANDARD = LVCMOS33;
NET "AVR_READ" IOSTANDARD = LVCMOS33;
NET "AVR_WRITE" IOSTANDARD = LVCMOS33;
NET "CLKIN" IOSTANDARD = LVCMOS33;
NET "MAPPER[0]" IOSTANDARD = LVCMOS33;
NET "MAPPER[1]" IOSTANDARD = LVCMOS33;
NET "MAPPER[2]" IOSTANDARD = LVCMOS33;
NET "MODE" IOSTANDARD = LVCMOS33;
NET "ROM_SEL[0]" IOSTANDARD = LVCMOS33;
NET "ROM_SEL[1]" IOSTANDARD = LVCMOS33;
NET "ROM_SEL[2]" IOSTANDARD = LVCMOS33;
NET "ROM_SEL[3]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[0]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[10]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[11]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[12]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[13]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[14]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[15]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[16]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[17]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[18]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[19]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[1]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[20]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[21]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[22]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[23]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[2]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[3]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[4]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[5]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[6]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[7]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[8]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[9]" IOSTANDARD = LVCMOS33;
NET "SNES_CS" IOSTANDARD = LVCMOS33;
NET "SNES_DATABUS_DIR" IOSTANDARD = LVCMOS33;
NET "SNES_DATABUS_OE" IOSTANDARD = LVCMOS33;
NET "SNES_DATA[0]" IOSTANDARD = LVCMOS33;
NET "SNES_DATA[1]" IOSTANDARD = LVCMOS33;
NET "SNES_DATA[2]" IOSTANDARD = LVCMOS33;
NET "SNES_DATA[3]" IOSTANDARD = LVCMOS33;
NET "SNES_DATA[4]" IOSTANDARD = LVCMOS33;
NET "SNES_DATA[5]" IOSTANDARD = LVCMOS33;
NET "SNES_DATA[6]" IOSTANDARD = LVCMOS33;
NET "SNES_DATA[7]" IOSTANDARD = LVCMOS33;
NET "SNES_READ" IOSTANDARD = LVCMOS33;
NET "SNES_WRITE" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[0]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[10]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[11]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[12]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[13]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[14]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[15]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[16]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[17]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[18]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[19]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[1]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[20]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[2]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[3]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[4]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[5]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[6]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[7]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[8]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[9]" IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[0]" IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[1]" IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[2]" IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[3]" IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[4]" IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[5]" IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[6]" IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[7]" IOSTANDARD = LVCMOS33;
NET "SRAM_OE" IOSTANDARD = LVCMOS33;
NET "SRAM_WE" IOSTANDARD = LVCMOS33;
