NET "CLKIN" TNM_NET = CLKIN;
TIMESPEC TS_CLKIN = PERIOD "CLKIN" 21.477 MHz HIGH 50 %;
NET "AVR_ENA" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[0]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[10]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[11]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[12]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[13]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[14]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[15]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[16]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[17]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[18]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[19]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[1]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[20]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[21]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[22]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[23]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[2]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[3]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[4]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[5]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[6]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[7]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[8]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[9]" IOSTANDARD = LVCMOS33;
NET "SNES_CS" IOSTANDARD = LVCMOS33;
NET "SNES_DATABUS_DIR" IOSTANDARD = LVCMOS33;
NET "SNES_DATABUS_OE" IOSTANDARD = LVCMOS33;
NET "SNES_DATA[0]" IOSTANDARD = LVCMOS33;
NET "SNES_DATA[1]" IOSTANDARD = LVCMOS33;
NET "SNES_DATA[2]" IOSTANDARD = LVCMOS33;
NET "SNES_DATA[3]" IOSTANDARD = LVCMOS33;
NET "SNES_DATA[4]" IOSTANDARD = LVCMOS33;
NET "SNES_DATA[5]" IOSTANDARD = LVCMOS33;
NET "SNES_DATA[6]" IOSTANDARD = LVCMOS33;
NET "SNES_DATA[7]" IOSTANDARD = LVCMOS33;
NET "SNES_READ" IOSTANDARD = LVCMOS33;
NET "SNES_WRITE" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[0]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[10]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[11]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[12]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[13]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[14]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[15]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[16]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[17]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[18]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[19]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[1]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[2]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[3]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[4]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[5]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[6]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[7]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[8]" IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR[9]" IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[0]" IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[1]" IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[2]" IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[3]" IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[4]" IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[5]" IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[6]" IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[7]" IOSTANDARD = LVCMOS33;
NET "SRAM_OE" IOSTANDARD = LVCMOS33;
NET "SRAM_WE" IOSTANDARD = LVCMOS33;
NET "SNES_CPU_CLK" IOSTANDARD = LVCMOS33;
NET "SNES_IRQ" IOSTANDARD = LVCMOS33;
NET "SNES_REFRESH" IOSTANDARD = LVCMOS33;
NET "SPI_MISO" IOSTANDARD = LVCMOS33;
NET "SPI_MOSI" IOSTANDARD = LVCMOS33;
NET "SPI_SCK" IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[10]" IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[11]" IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[12]" IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[13]" IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[14]" IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[15]" IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[8]" IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[9]" IOSTANDARD = LVCMOS33;
NET "AVR_ENA" LOC = P58;
NET "CLKIN" LOC = P55;
NET "IRQ_DIR" LOC = P40;
NET "IRQ_DIR" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR[0]" LOC = P7;
NET "SNES_ADDR[10]" LOC = P32;
NET "SNES_ADDR[11]" LOC = P35;
NET "SNES_ADDR[12]" LOC = P33;
NET "SNES_ADDR[13]" LOC = P31;
NET "SNES_ADDR[14]" LOC = P28;
NET "SNES_ADDR[15]" LOC = P26;
NET "SNES_ADDR[16]" LOC = P24;
NET "SNES_ADDR[17]" LOC = P21;
NET "SNES_ADDR[18]" LOC = P18;
NET "SNES_ADDR[19]" LOC = P15;
NET "SNES_ADDR[1]" LOC = P10;
NET "SNES_ADDR[20]" LOC = P13;
NET "SNES_ADDR[21]" LOC = P11;
NET "SNES_ADDR[22]" LOC = P8;
NET "SNES_ADDR[23]" LOC = P6;
NET "SNES_ADDR[2]" LOC = P12;
NET "SNES_ADDR[3]" LOC = P14;
NET "SNES_ADDR[4]" LOC = P17;
NET "SNES_ADDR[5]" LOC = P20;
NET "SNES_ADDR[6]" LOC = P23;
NET "SNES_ADDR[7]" LOC = P25;
NET "SNES_ADDR[8]" LOC = P27;
NET "SNES_ADDR[9]" LOC = P30;
NET "SNES_CPU_CLK" LOC = P1;
NET "SNES_CS" LOC = P5;
NET "SNES_READ" LOC = P2;
NET "SNES_REFRESH" LOC = P36;
NET "SNES_WRITE" LOC = P4;
NET "SPI_SS" LOC = P65;
NET "SRAM_ADDR[10]" LOC = P60;
NET "SRAM_ADDR[11]" LOC = P59;
NET "SRAM_ADDR[12]" LOC = P57;
NET "SRAM_ADDR[13]" LOC = P56;
NET "SRAM_ADDR[14]" LOC = P53;
NET "SRAM_ADDR[15]" LOC = P52;
NET "SRAM_ADDR[19]" LOC = P69;
NET "SRAM_ADDR[8]" LOC = P68;
NET "SRAM_ADDR[9]" LOC = P63;
NET "SRAM_CE2[0]" LOC = P77;
NET "SRAM_CE2[0]" IOSTANDARD = LVCMOS33;
NET "SRAM_CE2[1]" LOC = P76;
NET "SRAM_CE2[1]" IOSTANDARD = LVCMOS33;
NET "SRAM_CE2[2]" LOC = P74;
NET "SRAM_CE2[2]" IOSTANDARD = LVCMOS33;
NET "SRAM_CE2[3]" LOC = P73;
NET "SRAM_CE2[3]" IOSTANDARD = LVCMOS33;
NET "SRAM_WE" LOC = P70;
NET "SNES_DATABUS_DIR" LOC = P141;
NET "SNES_DATABUS_OE" LOC = P140;
NET "SNES_DATA[0]" LOC = P137;
NET "SNES_DATA[1]" LOC = P132;
NET "SNES_DATA[2]" LOC = P130;
NET "SNES_DATA[3]" LOC = P128;
NET "SNES_DATA[4]" LOC = P135;
NET "SNES_DATA[5]" LOC = P131;
NET "SNES_DATA[6]" LOC = P129;
NET "SNES_DATA[7]" LOC = P127;
NET "SNES_IRQ" LOC = P125;
NET "SPI_MISO" LOC = P123;
NET "SPI_MOSI" LOC = P122;
NET "SPI_SCK" LOC = P124;
NET "SRAM_ADDR[0]" LOC = P92;
NET "SRAM_ADDR[16]" LOC = P119;
NET "SRAM_ADDR[17]" LOC = P82;
NET "SRAM_ADDR[18]" LOC = P80;
NET "SRAM_ADDR[1]" LOC = P90;
NET "SRAM_ADDR[2]" LOC = P89;
NET "SRAM_ADDR[3]" LOC = P87;
NET "SRAM_ADDR[4]" LOC = P86;
NET "SRAM_ADDR[5]" LOC = P85;
NET "SRAM_ADDR[6]" LOC = P84;
NET "SRAM_ADDR[7]" LOC = P83;
NET "SRAM_BHE" LOC = P78;
NET "SRAM_BHE" IOSTANDARD = LVCMOS33;
NET "SRAM_BLE" LOC = P79;
NET "SRAM_BLE" IOSTANDARD = LVCMOS33;
NET "SRAM_DATA[0]" LOC = P95;
NET "SRAM_DATA[10]" LOC = P100;
NET "SRAM_DATA[11]" LOC = P103;
NET "SRAM_DATA[12]" LOC = P105;
NET "SRAM_DATA[13]" LOC = P108;
NET "SRAM_DATA[14]" LOC = P113;
NET "SRAM_DATA[15]" LOC = P118;
NET "SRAM_DATA[1]" LOC = P97;
NET "SRAM_DATA[2]" LOC = P99;
NET "SRAM_DATA[3]" LOC = P102;
NET "SRAM_DATA[4]" LOC = P104;
NET "SRAM_DATA[5]" LOC = P107;
NET "SRAM_DATA[6]" LOC = P112;
NET "SRAM_DATA[7]" LOC = P116;
NET "SRAM_DATA[8]" LOC = P96;
NET "SRAM_DATA[9]" LOC = P98;
NET "SRAM_OE" LOC = P93;
TIMESPEC TS_test = FROM  FFS TO  FFS 10 ns;
NET "SNES_ADDR<0>" MAXDELAY = 10 ns;
NET "SNES_ADDR<0>" MAXSKEW = 5 ns;
NET "SNES_ADDR<1>" MAXDELAY = 10 ns;
NET "SNES_ADDR<1>" MAXSKEW = 5 ns;
NET "SNES_ADDR<2>" MAXDELAY = 10 ns;
NET "SNES_ADDR<2>" MAXSKEW = 5 ns;
NET "SNES_ADDR<3>" MAXDELAY = 10 ns;
NET "SNES_ADDR<3>" MAXSKEW = 5 ns;
NET "SNES_ADDR<4>" MAXDELAY = 10 ns;
NET "SNES_ADDR<4>" MAXSKEW = 5 ns;
NET "SNES_ADDR<5>" MAXDELAY = 10 ns;
NET "SNES_ADDR<5>" MAXSKEW = 5 ns;
NET "SNES_ADDR<6>" MAXDELAY = 10 ns;
NET "SNES_ADDR<6>" MAXSKEW = 5 ns;
NET "SNES_ADDR<7>" MAXDELAY = 10 ns;
NET "SNES_ADDR<7>" MAXSKEW = 5 ns;
NET "SNES_ADDR<8>" MAXDELAY = 10 ns;
NET "SNES_ADDR<8>" MAXSKEW = 5 ns;
NET "SNES_ADDR<9>" MAXDELAY = 10 ns;
NET "SNES_ADDR<9>" MAXSKEW = 5 ns;
NET "SNES_ADDR<10>" MAXDELAY = 10 ns;
NET "SNES_ADDR<10>" MAXSKEW = 5 ns;
NET "SNES_ADDR<11>" MAXDELAY = 10 ns;
NET "SNES_ADDR<11>" MAXSKEW = 5 ns;
NET "SNES_ADDR<12>" MAXDELAY = 10 ns;
NET "SNES_ADDR<12>" MAXSKEW = 5 ns;
NET "SNES_ADDR<13>" MAXDELAY = 10 ns;
NET "SNES_ADDR<13>" MAXSKEW = 5 ns;
NET "SNES_ADDR<14>" MAXDELAY = 10 ns;
NET "SNES_ADDR<14>" MAXSKEW = 5 ns;
NET "SNES_ADDR<15>" MAXDELAY = 10 ns;
NET "SNES_ADDR<15>" MAXSKEW = 5 ns;
NET "SNES_ADDR<16>" MAXDELAY = 10 ns;
NET "SNES_ADDR<16>" MAXSKEW = 5 ns;
NET "SNES_ADDR<17>" MAXDELAY = 10 ns;
NET "SNES_ADDR<17>" MAXSKEW = 5 ns;
NET "SNES_ADDR<18>" MAXDELAY = 10 ns;
NET "SNES_ADDR<18>" MAXSKEW = 5 ns;
NET "SNES_ADDR<19>" MAXDELAY = 10 ns;
NET "SNES_ADDR<19>" MAXSKEW = 5 ns;
NET "SNES_ADDR<20>" MAXDELAY = 10 ns;
NET "SNES_ADDR<20>" MAXSKEW = 5 ns;
NET "SNES_ADDR<21>" MAXDELAY = 10 ns;
NET "SNES_ADDR<21>" MAXSKEW = 5 ns;
NET "SNES_ADDR<22>" MAXDELAY = 10 ns;
NET "SNES_ADDR<22>" MAXSKEW = 5 ns;
NET "SNES_ADDR<23>" MAXDELAY = 10 ns;
NET "SNES_ADDR<23>" MAXSKEW = 5 ns;
NET "CLKIN" IOSTANDARD = LVCMOS33;
NET "CLKIN" PULLUP;
NET "SPI_SS" IOSTANDARD = LVCMOS33;
NET "SPI_SS" PULLUP;
NET "DCM_FX_STOPPED" LOC = P44;
NET "DCM_FX_STOPPED" IOSTANDARD = LVCMOS33;
NET "DCM_IN_STOPPED" LOC = P41;
NET "DCM_IN_STOPPED" IOSTANDARD = LVCMOS33;
//NET "DCM_RST" LOC = P46;
//NET "DCM_RST" IOSTANDARD = LVCMOS33;
