# settings.local.mk example file
# uncomment / customize any settings here to override the settings in
# settings.mk.

# HOST: Build host
# ================
# Sets up some build parameters according to the environment used.
# Possible values:
# CYGWIN (also use for MINGW64)
# LINUX (also use for a pure WSL environment)
# WSL (calls Xilinx tools in WSL since ISE is terminally broken on Windows 11)
#
# Example:
# HOST = LINUX

# XILINX_HOME, XILINX_TARGET, INTEL_BIN:
# Set paths to Xilinx/Intel tools. Adjust these for your environment.
# ===================================================================
#
# Example: Windows
# XILINX_HOME = D:/Xilinx/14.7/ISE_DS
# XILINX_TARGET = nt64
# INTEL_BIN = D:/intelFPGA_lite/25.1/quartus/bin64
#
# Example: Linux
# XILINX_HOME = /opt/Xilinx/14.7/ISE_DS
# XILINX_TARGET = lin64
# INTEL_BIN = /opt/intelFPGA/25.1/quartus/bin

# specify number of concurrent SmartXPlorer runs
# XPLORER_CPUS = 8
