NET "CLKIN" TNM_NET = "CLKIN";
TIMESPEC TS_CLKIN = PERIOD "CLKIN" 24.01 MHz HIGH 50 %;

NET "p113_out" IOSTANDARD = LVCMOS33;
NET "p113_out" LOC = P113;

NET "SPI_SCK" LOC = P71;
NET "SPI_SCK" CLOCK_DEDICATED_ROUTE = FALSE;
NET "SPI_SCK" TNM_NET = "SPI_SCK";
TIMESPEC TS_SPI_SCK = PERIOD "SPI_SCK" 48.1MHz HIGH 50 %;

NET "SPI_SCK" IOSTANDARD = LVCMOS33;
NET "SPI_SCK" DRIVE = 8;
NET "SPI_SCK" PULLUP;

NET "SNES_ROMSEL_IN" IOSTANDARD = LVCMOS33;
NET "SNES_READ_IN" IOSTANDARD = LVCMOS33;
NET "SNES_WRITE_IN" IOSTANDARD = LVCMOS33;
NET "SNES_CPU_CLK_IN" IOSTANDARD = LVCMOS33;
NET "SNES_REFRESH" IOSTANDARD = LVCMOS33;

NET "CLKIN" IOSTANDARD = LVCMOS33;
//NET "CLKIN" PULLUP;
NET "SPI_SS" PULLUP;
//NET "DCM_RST" LOC = P46;
//NET "DCM_RST" IOSTANDARD = LVCMOS33;
NET "SNES_DATABUS_DIR" IOSTANDARD = LVCMOS33;
NET "SNES_DATABUS_OE" IOSTANDARD = LVCMOS33;
NET "SNES_IRQ" IOSTANDARD = LVCMOS33;

NET "ROM_CE" LOC = P172;
NET "ROM_CE" IOSTANDARD = LVCMOS33;
NET "ROM_CE" DRIVE = 8;

NET "SNES_ADDR_IN[0]" LOC = P119;
NET "SNES_ADDR_IN[10]" LOC = P146;
NET "SNES_ADDR_IN[11]" LOC = P148;
NET "SNES_ADDR_IN[12]" LOC = P147;
NET "SNES_ADDR_IN[13]" LOC = P144;
NET "SNES_ADDR_IN[14]" LOC = P141;
NET "SNES_ADDR_IN[15]" LOC = P139;
NET "SNES_ADDR_IN[16]" LOC = P137;
NET "SNES_ADDR_IN[17]" LOC = P133;
NET "SNES_ADDR_IN[18]" LOC = P131;
NET "SNES_ADDR_IN[19]" LOC = P128;
NET "SNES_ADDR_IN[1]" LOC = P122;
NET "SNES_ADDR_IN[20]" LOC = P125;
NET "SNES_ADDR_IN[21]" LOC = P123;
NET "SNES_ADDR_IN[22]" LOC = P120;
NET "SNES_ADDR_IN[23]" LOC = P117;
NET "SNES_ADDR_IN[2]" LOC = P124;
NET "SNES_ADDR_IN[3]" LOC = P126;
NET "SNES_ADDR_IN[4]" LOC = P130;
NET "SNES_ADDR_IN[5]" LOC = P132;
NET "SNES_ADDR_IN[6]" LOC = P135;
NET "SNES_ADDR_IN[7]" LOC = P138;
NET "SNES_ADDR_IN[8]" LOC = P140;
NET "SNES_ADDR_IN[9]" LOC = P143;
NET "SNES_DATA[0]" LOC = P107;
NET "SNES_DATA[1]" LOC = P102;
NET "SNES_DATA[2]" LOC = P100;
NET "SNES_DATA[3]" LOC = P96;
NET "SNES_DATA[4]" LOC = P108;
NET "SNES_DATA[5]" LOC = P106;
NET "SNES_DATA[6]" LOC = P101;
NET "SNES_DATA[7]" LOC = P97;


NET "CLKIN" LOC = P80;
// NET "RST" LOC = P113;
NET "MCU_OVR" LOC = P92;


NET "MCU_OVR" IOSTANDARD = LVCMOS33;
NET "MCU_OVR" DRIVE = 8;

NET "MCU_RDY" LOC = P83;
NET "MCU_RDY" IOSTANDARD = LVCMOS33;
NET "MCU_RDY" DRIVE = 8;


NET "ROM_ADDR[0]" LOC = P166;


NET "ROM_ADDR[0]" IOSTANDARD = LVCMOS33;
NET "ROM_ADDR[0]" DRIVE = 8;


NET "ROM_ADDR[10]" LOC = P197;


NET "ROM_ADDR[10]" IOSTANDARD = LVCMOS33;
NET "ROM_ADDR[10]" DRIVE = 8;


NET "ROM_ADDR[11]" LOC = P196;


NET "ROM_ADDR[11]" IOSTANDARD = LVCMOS33;
NET "ROM_ADDR[11]" DRIVE = 8;


NET "ROM_ADDR[12]" LOC = P2;


NET "ROM_ADDR[12]" IOSTANDARD = LVCMOS33;
NET "ROM_ADDR[12]" DRIVE = 8;


NET "ROM_ADDR[13]" LOC = P194;


NET "ROM_ADDR[13]" IOSTANDARD = LVCMOS33;
NET "ROM_ADDR[13]" DRIVE = 8;


NET "ROM_ADDR[14]" LOC = P200;


NET "ROM_ADDR[14]" IOSTANDARD = LVCMOS33;
NET "ROM_ADDR[14]" DRIVE = 8;


NET "ROM_ADDR[15]" LOC = P184;


NET "ROM_ADDR[15]" IOSTANDARD = LVCMOS33;
NET "ROM_ADDR[15]" DRIVE = 8;


NET "ROM_ADDR[16]" LOC = P199;


NET "ROM_ADDR[16]" IOSTANDARD = LVCMOS33;
NET "ROM_ADDR[16]" DRIVE = 8;


NET "ROM_ADDR[17]" LOC = P11;


NET "ROM_ADDR[17]" IOSTANDARD = LVCMOS33;
NET "ROM_ADDR[17]" DRIVE = 8;


NET "ROM_ADDR[18]" LOC = P3;


NET "ROM_ADDR[18]" IOSTANDARD = LVCMOS33;
NET "ROM_ADDR[18]" DRIVE = 8;


NET "ROM_ADDR[19]" LOC = P4;


NET "ROM_ADDR[19]" IOSTANDARD = LVCMOS33;
NET "ROM_ADDR[19]" DRIVE = 8;


NET "ROM_ADDR[1]" LOC = P168;


NET "ROM_ADDR[1]" IOSTANDARD = LVCMOS33;
NET "ROM_ADDR[1]" DRIVE = 8;


NET "ROM_ADDR[20]" LOC = P191;


NET "ROM_ADDR[20]" IOSTANDARD = LVCMOS33;
NET "ROM_ADDR[20]" DRIVE = 8;


NET "ROM_ADDR[21]" LOC = P203;


NET "ROM_ADDR[21]" IOSTANDARD = LVCMOS33;
NET "ROM_ADDR[21]" DRIVE = 8;


NET "ROM_ADDR[22]" LOC = P198;


NET "ROM_ADDR[22]" IOSTANDARD = LVCMOS33;
NET "ROM_ADDR[22]" DRIVE = 8;


NET "ROM_ADDR[2]" LOC = P171;


NET "ROM_ADDR[2]" IOSTANDARD = LVCMOS33;
NET "ROM_ADDR[2]" DRIVE = 8;


NET "ROM_ADDR[3]" LOC = P165;


NET "ROM_ADDR[3]" IOSTANDARD = LVCMOS33;
NET "ROM_ADDR[3]" DRIVE = 8;


NET "ROM_ADDR[4]" LOC = P169;


NET "ROM_ADDR[4]" IOSTANDARD = LVCMOS33;
NET "ROM_ADDR[4]" DRIVE = 8;


NET "ROM_ADDR[5]" LOC = P18;


NET "ROM_ADDR[5]" IOSTANDARD = LVCMOS33;
NET "ROM_ADDR[5]" DRIVE = 8;


NET "ROM_ADDR[6]" LOC = P175;


NET "ROM_ADDR[6]" IOSTANDARD = LVCMOS33;
NET "ROM_ADDR[6]" DRIVE = 8;


NET "ROM_ADDR[7]" LOC = P167;


NET "ROM_ADDR[7]" IOSTANDARD = LVCMOS33;
NET "ROM_ADDR[7]" DRIVE = 8;


NET "ROM_ADDR[8]" LOC = P205;


NET "ROM_ADDR[8]" IOSTANDARD = LVCMOS33;
NET "ROM_ADDR[8]" DRIVE = 8;


NET "ROM_ADDR[9]" LOC = P204;


NET "ROM_ADDR[9]" IOSTANDARD = LVCMOS33;
NET "ROM_ADDR[9]" DRIVE = 8;


NET "ROM_BHE" LOC = P161;


NET "ROM_BHE" IOSTANDARD = LVCMOS33;
NET "ROM_BHE" DRIVE = 8;


NET "ROM_BLE" LOC = P156;


NET "ROM_BLE" IOSTANDARD = LVCMOS33;
NET "ROM_BLE" DRIVE = 8;


NET "ROM_DATA[0]" LOC = P176;


NET "ROM_DATA[0]" IOSTANDARD = LVCMOS33;
NET "ROM_DATA[0]" DRIVE = 8;


NET "ROM_DATA[10]" LOC = P15;


NET "ROM_DATA[10]" IOSTANDARD = LVCMOS33;
NET "ROM_DATA[10]" DRIVE = 8;


NET "ROM_DATA[11]" LOC = P12;


NET "ROM_DATA[11]" IOSTANDARD = LVCMOS33;
NET "ROM_DATA[11]" DRIVE = 8;


NET "ROM_DATA[12]" LOC = P10;


NET "ROM_DATA[12]" IOSTANDARD = LVCMOS33;
NET "ROM_DATA[12]" DRIVE = 8;


NET "ROM_DATA[13]" LOC = P7;


NET "ROM_DATA[13]" IOSTANDARD = LVCMOS33;
NET "ROM_DATA[13]" DRIVE = 8;


NET "ROM_DATA[14]" LOC = P9;


NET "ROM_DATA[14]" IOSTANDARD = LVCMOS33;
NET "ROM_DATA[14]" DRIVE = 8;


NET "ROM_DATA[15]" LOC = P5;


NET "ROM_DATA[15]" IOSTANDARD = LVCMOS33;
NET "ROM_DATA[15]" DRIVE = 8;


NET "ROM_DATA[1]" LOC = P178;


NET "ROM_DATA[1]" IOSTANDARD = LVCMOS33;
NET "ROM_DATA[1]" DRIVE = 8;


NET "ROM_DATA[2]" LOC = P181;


NET "ROM_DATA[2]" IOSTANDARD = LVCMOS33;
NET "ROM_DATA[2]" DRIVE = 8;


NET "ROM_DATA[3]" LOC = P182;


NET "ROM_DATA[3]" IOSTANDARD = LVCMOS33;
NET "ROM_DATA[3]" DRIVE = 8;


NET "ROM_DATA[4]" LOC = P183;


NET "ROM_DATA[4]" IOSTANDARD = LVCMOS33;
NET "ROM_DATA[4]" DRIVE = 8;


NET "ROM_DATA[5]" LOC = P187;


NET "ROM_DATA[5]" IOSTANDARD = LVCMOS33;
NET "ROM_DATA[5]" DRIVE = 8;


NET "ROM_DATA[6]" LOC = P185;


NET "ROM_DATA[6]" IOSTANDARD = LVCMOS33;
NET "ROM_DATA[6]" DRIVE = 8;


NET "ROM_DATA[7]" LOC = P189;


NET "ROM_DATA[7]" IOSTANDARD = LVCMOS33;
NET "ROM_DATA[7]" DRIVE = 8;


NET "ROM_DATA[8]" LOC = P16;


NET "ROM_DATA[8]" IOSTANDARD = LVCMOS33;
NET "ROM_DATA[8]" DRIVE = 8;


NET "ROM_DATA[9]" LOC = P13;


NET "ROM_DATA[9]" IOSTANDARD = LVCMOS33;
NET "ROM_DATA[9]" DRIVE = 8;


NET "ROM_OE" LOC = P162;


NET "ROM_OE" IOSTANDARD = LVCMOS33;
NET "ROM_OE" DRIVE = 8;


NET "ROM_WE" LOC = P190;


NET "ROM_WE" IOSTANDARD = LVCMOS33;
NET "ROM_WE" DRIVE = 8;
NET "SNES_ADDR_IN[0]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR_IN[0]" DRIVE = 8;
NET "SNES_ADDR_IN[10]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR_IN[10]" DRIVE = 8;
NET "SNES_ADDR_IN[11]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR_IN[11]" DRIVE = 8;
NET "SNES_ADDR_IN[12]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR_IN[12]" DRIVE = 8;
NET "SNES_ADDR_IN[13]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR_IN[13]" DRIVE = 8;
NET "SNES_ADDR_IN[14]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR_IN[14]" DRIVE = 8;
NET "SNES_ADDR_IN[15]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR_IN[15]" DRIVE = 8;
NET "SNES_ADDR_IN[16]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR_IN[16]" DRIVE = 8;
NET "SNES_ADDR_IN[17]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR_IN[17]" DRIVE = 8;
NET "SNES_ADDR_IN[18]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR_IN[18]" DRIVE = 8;
NET "SNES_ADDR_IN[19]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR_IN[19]" DRIVE = 8;
NET "SNES_ADDR_IN[1]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR_IN[1]" DRIVE = 8;
NET "SNES_ADDR_IN[20]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR_IN[20]" DRIVE = 8;
NET "SNES_ADDR_IN[21]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR_IN[21]" DRIVE = 8;
NET "SNES_ADDR_IN[22]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR_IN[22]" DRIVE = 8;
NET "SNES_ADDR_IN[23]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR_IN[23]" DRIVE = 8;
NET "SNES_ADDR_IN[2]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR_IN[2]" DRIVE = 8;
NET "SNES_ADDR_IN[3]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR_IN[3]" DRIVE = 8;
NET "SNES_ADDR_IN[4]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR_IN[4]" DRIVE = 8;
NET "SNES_ADDR_IN[5]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR_IN[5]" DRIVE = 8;
NET "SNES_ADDR_IN[6]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR_IN[6]" DRIVE = 8;
NET "SNES_ADDR_IN[7]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR_IN[7]" DRIVE = 8;
NET "SNES_ADDR_IN[8]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR_IN[8]" DRIVE = 8;
NET "SNES_ADDR_IN[9]" IOSTANDARD = LVCMOS33;
NET "SNES_ADDR_IN[9]" DRIVE = 8;


NET "SNES_CPU_CLK_IN" LOC = P95;
NET "SNES_ROMSEL_IN" LOC = P116;
NET "SNES_DATABUS_DIR" LOC = P111;
NET "SNES_DATABUS_OE" LOC = P109;
NET "SNES_DATABUS_DIR" DRIVE = 8;
NET "SNES_DATABUS_OE" DRIVE = 8;


NET "SNES_DATA[0]" IOSTANDARD = LVCMOS33;
NET "SNES_DATA[0]" DRIVE = 8;
NET "SNES_DATA[1]" IOSTANDARD = LVCMOS33;
NET "SNES_DATA[1]" DRIVE = 8;
NET "SNES_DATA[2]" IOSTANDARD = LVCMOS33;
NET "SNES_DATA[2]" DRIVE = 8;
NET "SNES_DATA[3]" IOSTANDARD = LVCMOS33;
NET "SNES_DATA[3]" DRIVE = 8;
NET "SNES_DATA[4]" IOSTANDARD = LVCMOS33;
NET "SNES_DATA[4]" DRIVE = 8;
NET "SNES_DATA[5]" IOSTANDARD = LVCMOS33;
NET "SNES_DATA[5]" DRIVE = 8;
NET "SNES_DATA[6]" IOSTANDARD = LVCMOS33;
NET "SNES_DATA[6]" DRIVE = 8;
NET "SNES_DATA[7]" IOSTANDARD = LVCMOS33;
NET "SNES_DATA[7]" DRIVE = 8;


NET "SNES_IRQ" LOC = P114;
NET "SNES_READ_IN" LOC = P115;
NET "SNES_REFRESH" LOC = P155;
NET "SNES_WRITE_IN" LOC = P94;

NET "SNES_PA[0]" IOSTANDARD = LVCMOS33;
NET "SNES_PA[0]" LOC = P90;
NET "SNES_PA[1]" IOSTANDARD = LVCMOS33;
NET "SNES_PA[1]" LOC = P93;
NET "SNES_PA[2]" IOSTANDARD = LVCMOS33;
NET "SNES_PA[2]" LOC = P86;
NET "SNES_PA[3]" IOSTANDARD = LVCMOS33;
NET "SNES_PA[3]" LOC = P87;
NET "SNES_PA[4]" IOSTANDARD = LVCMOS33;
NET "SNES_PA[4]" LOC = P81;
NET "SNES_PA[5]" IOSTANDARD = LVCMOS33;
NET "SNES_PA[5]" LOC = P85;
NET "SNES_PA[6]" IOSTANDARD = LVCMOS33;
NET "SNES_PA[6]" LOC = P152;
NET "SNES_PA[7]" IOSTANDARD = LVCMOS33;
NET "SNES_PA[7]" LOC = P154;

NET "SNES_PARD_IN" IOSTANDARD = LVCMOS33;
NET "SNES_PARD_IN" LOC = P149;
NET "SNES_PAWR_IN" IOSTANDARD = LVCMOS33;
NET "SNES_PAWR_IN" LOC = P150;

NET "SPI_MISO" LOC = P72;


NET "SPI_MISO" IOSTANDARD = LVCMOS33;
NET "SPI_MISO" DRIVE = 8;


NET "SPI_MOSI" LOC = P74;


NET "SPI_MOSI" IOSTANDARD = LVCMOS33;
NET "SPI_MOSI" DRIVE = 8;


NET "SPI_SS" LOC = P68;


NET "SPI_SS" IOSTANDARD = LVCMOS33;
NET "SPI_SS" DRIVE = 8;


NET "DAC_LRCK" LOC = P77;


NET "DAC_LRCK" IOSTANDARD = LVCMOS33;
NET "DAC_LRCK" DRIVE = 8;


NET "DAC_MCLK" LOC = P76;


NET "DAC_MCLK" IOSTANDARD = LVCMOS33;
NET "DAC_MCLK" DRIVE = 8;


NET "DAC_SDOUT" LOC = P78;


NET "DAC_SDOUT" IOSTANDARD = LVCMOS33;
NET "DAC_SDOUT" DRIVE = 8;

# PlanAhead Generated physical constraints 

NET "SD_CLK" LOC = P64;
NET "SD_CMD" LOC = P67;
NET "SD_DAT[0]" LOC = P65;
NET "SD_DAT[1]" LOC = P79;
NET "SD_DAT[2]" LOC = P62;
NET "SD_DAT[3]" LOC = P63;

# PlanAhead Generated IO constraints 

NET "SD_CLK" IOSTANDARD = LVCMOS33;
NET "SD_CLK" PULLUP;
NET "SD_CMD" IOSTANDARD = LVCMOS33;
NET "SD_DAT[0]" IOSTANDARD = LVCMOS33;
NET "SD_DAT[1]" IOSTANDARD = LVCMOS33;
NET "SD_DAT[2]" IOSTANDARD = LVCMOS33;
NET "SD_DAT[3]" IOSTANDARD = LVCMOS33;

NET "SNES_SYSCLK" LOC = P180;
NET "SNES_SYSCLK" IOSTANDARD = LVCMOS33;
NET "SNES_SYSCLK" TNM_NET = "SNES_SYSCLK";
TIMESPEC TS_SNES_SYSCLK = PERIOD "SNES_SYSCLK" 21.5 MHz HIGH 50 %;

#NET "RAM_DATA[0]" IOSTANDARD = LVCMOS33;
#NET "RAM_DATA[0]" DRIVE = 8;
#NET "RAM_DATA[0]" LOC = P26;
#NET "RAM_DATA[1]" IOSTANDARD = LVCMOS33;
#NET "RAM_DATA[1]" DRIVE = 8;
#NET "RAM_DATA[1]" LOC = P22;
#NET "RAM_DATA[2]" IOSTANDARD = LVCMOS33;
#NET "RAM_DATA[2]" DRIVE = 8;
#NET "RAM_DATA[2]" LOC = P20;
#NET "RAM_DATA[3]" IOSTANDARD = LVCMOS33;
#NET "RAM_DATA[3]" DRIVE = 8;
#NET "RAM_DATA[3]" LOC = P19;
#NET "RAM_DATA[4]" IOSTANDARD = LVCMOS33;
#NET "RAM_DATA[4]" DRIVE = 8;
#NET "RAM_DATA[4]" LOC = P21;
#NET "RAM_DATA[5]" IOSTANDARD = LVCMOS33;
#NET "RAM_DATA[5]" DRIVE = 8;
#NET "RAM_DATA[5]" LOC = P24;
#NET "RAM_DATA[6]" IOSTANDARD = LVCMOS33;
#NET "RAM_DATA[6]" DRIVE = 8;
#NET "RAM_DATA[6]" LOC = P27;
#NET "RAM_DATA[7]" IOSTANDARD = LVCMOS33;
#NET "RAM_DATA[7]" DRIVE = 8;
#NET "RAM_DATA[7]" LOC = P29;
#
#NET "RAM_OE" IOSTANDARD = LVCMOS33;
#NET "RAM_OE" DRIVE = 8;
#NET "RAM_OE" LOC = P36;
#NET "RAM_WE" IOSTANDARD = LVCMOS33;
#NET "RAM_WE" DRIVE = 8;
#NET "RAM_WE" LOC = P50;
#
#NET "RAM_ADDR[0]" IOSTANDARD = LVCMOS33;
#NET "RAM_ADDR[0]" DRIVE = 8;
#NET "RAM_ADDR[0]" LOC = P28;
#NET "RAM_ADDR[1]" IOSTANDARD = LVCMOS33;
#NET "RAM_ADDR[1]" DRIVE = 8;
#NET "RAM_ADDR[1]" LOC = P31;
#NET "RAM_ADDR[2]" IOSTANDARD = LVCMOS33;
#NET "RAM_ADDR[2]" DRIVE = 8;
#NET "RAM_ADDR[2]" LOC = P33;
#NET "RAM_ADDR[3]" IOSTANDARD = LVCMOS33;
#NET "RAM_ADDR[3]" DRIVE = 8;
#NET "RAM_ADDR[3]" LOC = P35;
#NET "RAM_ADDR[4]" IOSTANDARD = LVCMOS33;
#NET "RAM_ADDR[4]" DRIVE = 8;
#NET "RAM_ADDR[4]" LOC = P37;
#NET "RAM_ADDR[5]" IOSTANDARD = LVCMOS33;
#NET "RAM_ADDR[5]" DRIVE = 8;
#NET "RAM_ADDR[5]" LOC = P40;
#NET "RAM_ADDR[6]" IOSTANDARD = LVCMOS33;
#NET "RAM_ADDR[6]" DRIVE = 8;
#NET "RAM_ADDR[6]" LOC = P43;
#NET "RAM_ADDR[7]" IOSTANDARD = LVCMOS33;
#NET "RAM_ADDR[7]" DRIVE = 8;
#NET "RAM_ADDR[7]" LOC = P45;
#NET "RAM_ADDR[8]" IOSTANDARD = LVCMOS33;
#NET "RAM_ADDR[8]" DRIVE = 8;
#NET "RAM_ADDR[8]" LOC = P44;
#NET "RAM_ADDR[9]" IOSTANDARD = LVCMOS33;
#NET "RAM_ADDR[9]" DRIVE = 8;
#NET "RAM_ADDR[9]" LOC = P42;
#NET "RAM_ADDR[10]" IOSTANDARD = LVCMOS33;
#NET "RAM_ADDR[10]" DRIVE = 8;
#NET "RAM_ADDR[10]" LOC = P34;
#NET "RAM_ADDR[11]" IOSTANDARD = LVCMOS33;
#NET "RAM_ADDR[11]" DRIVE = 8;
#NET "RAM_ADDR[11]" LOC = P39;
#NET "RAM_ADDR[12]" IOSTANDARD = LVCMOS33;
#NET "RAM_ADDR[12]" DRIVE = 8;
#NET "RAM_ADDR[12]" LOC = P48;
#NET "RAM_ADDR[13]" IOSTANDARD = LVCMOS33;
#NET "RAM_ADDR[13]" DRIVE = 8;
#NET "RAM_ADDR[13]" LOC = P46;
#NET "RAM_ADDR[14]" IOSTANDARD = LVCMOS33;
#NET "RAM_ADDR[14]" DRIVE = 8;
#NET "RAM_ADDR[14]" LOC = P51;
#NET "RAM_ADDR[15]" IOSTANDARD = LVCMOS33;
#NET "RAM_ADDR[15]" DRIVE = 8;
#NET "RAM_ADDR[15]" LOC = P58;
#NET "RAM_ADDR[16]" IOSTANDARD = LVCMOS33;
#NET "RAM_ADDR[16]" DRIVE = 8;
#NET "RAM_ADDR[16]" LOC = P57;
#NET "RAM_ADDR[17]" IOSTANDARD = LVCMOS33;
#NET "RAM_ADDR[17]" DRIVE = 8;
#NET "RAM_ADDR[17]" LOC = P61;
#NET "RAM_ADDR[18]" IOSTANDARD = LVCMOS33;
#NET "RAM_ADDR[18]" DRIVE = 8;
#NET "RAM_ADDR[18]" LOC = P52;
